* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {border: 2px solid #009A75;}

body {
    background-color: #fafafa;
}

.header {
    max-width: 20%;
    background-color: #fafafa;
    padding-right: 40px;
    position: fixed;
}

.header ul li {
    list-style: none;
    padding-left: 35px;
    margin-bottom: 25px;

}
.article_img {
  border: none;
}

.header ul a {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-weight: 300;
    position: relative;
}

.header ul a::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #009A75;
    left: -25px;
    position: absolute;
    transition: all 300ms ease;
    transform: translateY(3px);
    background-color: #fafafa;
}

.header ul a:hover::before {
    background-color: #009A75;
    transition: all 300ms ease;
}


.logo {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 30px;
}

.logo img {
    animation: rotate 10s linear infinite;
    border: none;
}

.content {
    background-color: #F6F6F6;
    width: 60%;
    margin: 0 auto;
}

.article {
    padding-top: 33px;
    display: flex;
    align-items: center;
}

.content__article {
    padding: 0 24px;
    max-width: 890px;
    border-right: 1px solid #C4C4C4;
    margin-bottom: 89px;

}

.title {
    padding-left: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.08em;
    color: #236F77;
    margin-bottom: 30px;

}

.content__text {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 0.08em;
    color: #236F77;
}

.content__text ul li {
    margin-bottom: 10px;
}

.content__img img {
    border-radius: 48%;
    margin: 0 42px 0 67px;
    border: none;
}

.none {
    max-width: 100%;
    border: none;
}

.footer {
    height: 34px;
    background-color: #009A75;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.08em;
    color: #BCBCBC;
}

.main__footer {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}

.main__footer div {
    margin-right: 42px;
}


.rights,
.gmail,
.phone {
    position: relative;
}

.rights::before,
.gmail::before,
.phone::before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    padding-left: 15px;
    left: -30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.gmail::before {
    background-image: url(../images/search.png);
}

.phone::before {
    background-image: url(../images/telegram.png);
}

.author__footer {
    padding-right: 10px;
}

.author__footer a {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.08em;
    text-decoration: underline;
    color: #BCBCBC;
}

@keyframes rotate {
    from {
        transform: rotate(0);


    }

    to {
        transform: rotate(-360deg);

    }
}
