@charset 'uft-8"'; 
/* CSS Document */
body {
   background-image: url(../Images/PJ-background.png);
   background-size: cover;
   font-family: Helvetica, Arial, sans-serif;
    margin: 0;
       
}

h1, h2, h3 {
    margin: 0;
    padding-top: 5px;
}

h1 {
   font-size: large; 
}

h2 {
    display: block;
    background-color: azure;
    text-align: left;
    border-radius: 20px;
    padding: 5px;
}

h3 {
    display: block;
    text-align: left;
    padding: 5px;
    font-size: x-large;
}

#container {
    width: 100%;
    background-color: white;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    background-color: #FFA329;
    width: 100%;
    height: 155px;
    margin-left: 0;
    margin-right: 0;
}

.content {
    padding: 0;
}

.logo{
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    left: 50%;
    top: 5px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.socials {
    display: flex;
    position: absolute;
    right: 0px;
    padding: 5px;
    color: white;
    top: 40px;
    align-items: center;
}

.socials i {
    color: white;
}

.socials i:hover {
    color: white;
    text-decoration: none;
}

i {
    padding: 5px;
}

.sign_up {
    display: flex;
    align-items: center;
}

.sign_up a{
    display: flex;
    align-items: center;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.sign_up a:hover {
    display: flex;
    align-items: center;
    /*box-shadow: 0 0 20px 20px white;*/
    text-decoration: underline;
}

.sign_up a i:hover {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav {
    width: 100%;
    height: 150px;
    background-color: orange;
    line-height: 35px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.v-red {
    margin-right: 10px;
    width: 100%;
    border-bottom: 5px solid;
    position:absolute; 
    color: #6B0310;
}

.nav a {
    display: block;
    color: red;
    padding: 15px 15px;
    text-decoration: none;
    border-radius: 6px;
}

.nav ul {
    list-style: none;
    position: relative;
    align-content: center;
    top: 50px;
}

.nav ul li {
    float: left;
    list-style: none;
    position: relative;
    border-color: white;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
    margin: 15px;
}

.nav ul li a {
    display: block;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 14px;
    padding: 0px 10px;
    text-decoration: none;
}

.nav ul li a:hover {
    display: block;
    font-family: arial;
    color: white;
    background-color: #6B0310;
    padding: 0px 10px;
    border-radius: 6x;
}

.nav ul li ul {
    display: none;
    position: absolute;
    background-color: #FFA329;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
    z-index: 1;
}

.nav ul li:hover ul {
  display: flex;
    position: absolute;
    background-color: white;
    width: 860px;
    padding: 10px;
    padding-right: 10px;
    border-radius: 5px 5px 5px 5px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    height: 180px;
    transform: translate(-380px, -12px);
    border: 5px solid #6B0310;
}

.nav ul li ul li {
    padding: 0px 0px;
    width: 205px;
    margin: 0px;
}

.nav ul li ul li a {
    color: black; 
}

.nav ul li ul li a:hover {
    color: #6B0310;
    font-weight: 600;
    background-color: white;
}

.flavor {
    display:flex;
    flex-direction: column;
}

.slider_container {
    display: block;
    overflow: hidden;
    height: 300px;
}


/*.slide1 img, .slide2 img, .slide3 img {
    animation: slide1 12s linear infinite;
}


 img{
     width: 120%;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%,-50%);
}*/

/*SLIDER STRART*/

.carousel {
position: relative;
margin-top: 0px;
}

.carousel-inner {
position: relative;
overflow: hidden;
width: 100%;
height: 20%;
}

.carousel-open:checked + .carousel-item {
position: static;
opacity: 100;
    height: 300px;
    transform: translate(0px, -219px);
}

.carousel-item {
position: absolute;
opacity: 0;
-webkit-transition: opacity 0.6s ease-out;
transition: opacity 0.6s ease-out;
}

.carousel-item img {
display: block;
height: auto;
max-width: 100%;
}

.carousel-control {
background: rgba(0, 0, 0, 0.28);
border-radius: 50%;
color: #fff;
cursor: pointer;
display: none;
font-size: 40px;
height: 40px;
line-height: 35px;
position: absolute;
top: 50%;
-webkit-transform: translate(0, -50%);
-ms-transform: translate(0, -50%);
transform: translate(0, -50%);
text-align: center;
width: 40px;
z-index: 10;
}

.carousel-control.prev {
left: 2%;
}

.carousel-control.next {
right: 2%;
}

.carousel-control:hover {
background: rgba(0, 0, 0, 0.8);
color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
display: block;
}

.carousel-indicators {
list-style: none;
margin: 0;
padding: 0;
position: absolute;
bottom: 2%;
left: 0;
right: 0;
text-align: center;
z-index: 10;
}

.carousel-indicators li {
display: inline-block;
margin: 0 5px;
}

.carousel-bullet {
color: #fff;
cursor: pointer;
display: block;
font-size: 55px;
}

.carousel-bullet:hover {
color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
color: #6B0310;
}

#title {
width: 100%;
position: absolute;
padding: 0px;
margin: 0px auto;
text-align: center;
font-size: 27px;
color: rgba(255, 255, 255, 1);
font-family: 'Open Sans', sans-serif;
z-index: 9999;
text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}



/*SLIDER END*/

.info_box {
    height: 200px;
    width: 215px;
    display: flex;
    border: 4px solid orange;
    border-radius: 10px;
    position: relative;
    transform: translate(950px, 34px);
    flex-direction: column;
    background-color: #ffffffc2;
    top: 67%;
    padding: 5px;
}

.info_box p{
    font-weight: 100;
}




/*.slider-button {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: white;
    align-content: center;
}*/

.flex-container {
    display: flex;
    background-color: white; 
    justify-content: center;
    clear: both;
    width: 100%;
}

.flex-container > div {
    /*text-align: center;
    line-height: 20px; */
    background-color: white;
    color: black;
    margin: 10px;
}

.item1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item3{
   float: right;
    flex-direction: column;
    width: 50%;
    align-items: center;
    display: flex;
}

.item4 {
    float: right;
    padding: 10px;
}

.item4 p {
    padding-right: 40px;
}

.homebutton{
    float: right;
}

.button {
    float: left;
    list-style: none;
    position: relative;
    border-color: #6B0310;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
    margin: 15px;
    padding: 3px;
    color: #6B0310;
}

.button:hover {
    float: left;
    list-style: none;
    position: relative;
    border-color: orange;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
    margin: 15px;
    padding: 3px;
    color: #6B0310;
    background-color: orange;
    transition: all 0.3s ease;
}

.button_p {
    list-style: none;
    border-color: #6B0310;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
    margin: auto;
    margin-top:10px;
    padding: 3px;
    width: 50%;
}

.button_p:hover {
    list-style: none;
    border-color: orange;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
    margin: auto;
    margin-top:10px;
    padding: 3px;
    width: 50%;
    background-color: orange;
    transition: all 0.3s ease;
}

.button_index {
    float: right;
    list-style: none;
    position: relative;
    border-color: #6B0310;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
    margin: 15px;
    padding: 3px;
    color: #6B0310;
}

.button_index:hover {
    float: right;
    list-style: none;
    position: relative;
    border-color: orange;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
    margin: 15px;
    padding: 3px;
    color: #6B0310;
    background-color: orange;
    transition: all 0.3s ease;
}


.button_b {
    float: right;
    list-style: none;
    position: relative;
    border-color: #6B0310;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
    margin: 15px;
    padding: 3px;
    color: #6B0310;
    width: fit-content;
}

.button_b:hover {
    float: right;
    list-style: none;
    position: relative;
    border-color: orange;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
    margin: 15px;
    padding: 3px;
    color: #6B0310;
    width: fit-content;
    background-color: orange;
    transition: all 0.3s ease;
}

.button_c {
    float: right;
    list-style: none;
    position: relative;
    border-color: #6B0310;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
    margin: 15px;
    padding: 3px;
    color: #6B0310;
}


.flex-container1 {
    display: flex;
    background-color: white; 
    justify-content: left;
    clear: both;
    padding-top: 10px;
}

.flex-container1 > div {
    background-color: white;
    color: black;
    margin: 10px;
    text-align: left;
    line-height: 20px;
}

.flex-container2 {
    display: flex;
    background-color: azure; 
    justify-content: left;
    clear: both;
    flex-direction: row-reverse;
}

.flex-container2 > div {
    background-color: azure;
    color: black;
    margin: 10px;
    text-align: left;
    line-height: 20px;
}

.flex-container3 {
    display: flex;
    background-color: white; 
    justify-content: left;
    clear: both;
}

.flex-container3 > div {
    background-color: white;
    color: black;
    margin: 10px;
    text-align: left;
    line-height: 20px;
}

.left {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.right {
    flex-direction: row;
    display: flex;
    width: 50%;
    justify-content: center;
   /* flex-wrap: wrap;*/
}

.blue_square {
    background-color: azure;
    text-align: left;
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
}


.h {
    left: 50%;
    height: initial;
    border-left: 5px solid orange;  
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.h_white {
    left: 50%;
    height: initial;
    border-left: 5px solid white;  
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.h_about {
    left: 50%;
    height: initial;
    margin-top: 150px;
    border-left: 5px solid orange;  
    border-radius: 3px;
}

.v {
    margin-left: 10px;
    margin-right: 10px;
    width: 98%;
    border-bottom: 5px solid orange;
    position:absolute;
    border-radius: 3px;
}

.cran-apple {
    padding: 5px;
    position: relative;
    background-color: azure;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin: 15px;
    border-radius: 20px;
}

.fruit_punch {
    padding: 5px;
    position: relative;
    background-color: azure;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin: 15px;
    border-radius: 20px;
}

.watermelon {
    position: relative;
    display: flex;
    background-color: azure;
}

.about_p {
    width: 560px;
    
}

.orange {
    width: 50%;
    height: auto;
    position:relative;
    clear: both;
    float:left;
}

.class {
    width: 50%;
    height: auto;
    position:relative;
    clear:both;
    float:right;
}

.tape {
    width: 50%;
    height: auto;
    position:relative;
    clear:both;
    float: left;
    border-radius: 4px;
}

.boutpic img{
    border-radius: 20px;
}

.bottles {
    display:flex;
    justify-content: center;
    clear:both;
    padding: 5px;
    flex-wrap: wrap;
}

.text {
    background-color: azure;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin: 15px;
    border-radius: 20px;
}

.pitchers {
    display: flex;
    justify-content: center;
    clear: both;
    padding: 5px;
    flex-wrap: wrap;
}

.text a {
    color: black; 
    text-decoration: none;
    border-radius: 20px;
}

.text a img {
    border-radius: 20px;
}

.top {
    height: 50px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.searchbox {
   border-radius: 20px;
    padding: 5px;
    display: flex;
    float: right;
    border: darkred;
    border-style: solid;
    margin-top: 10px;
}

.search-btn {
    color: orange;
    display: flex;
    width: 20px;
    height: 20px;
    float: right;
    justify-content: center;
    align-items: center;
}

.search-txt {
    background-color: white;
    border: none;
}

.magnify {
    color: darkred !important;
}

.largepic {
    display: flex;
    padding: 10px;
    height: 400px;
    background-color: white;
}

.item1a {
    object-fit: contain;
    padding: 20px
}

.item2a {
    padding: 10px;
}

.item3a {
   top: 10px; 
}

.apple_count {
    display: flex;
    justify-content: space-around;
    height: 150px;
    align-items: center;
    align-content: stretch;
    transform: translate(10px, 0px);
}

.button_apple {
    border-color: #6B0310;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
    padding: 3px;
    width: fit-content;
}

.end_P {
    text-align: center;
    font-size: medium;
    color: #6B0310;
}

.blog_top {
    display: flex;
    flex-direction: row;
    background-color: azure;
    padding-top: 10px;
}

.weekpost{
    background-color: azure;
    display: flex;
    width: 38%;
    flex-direction: column;
    padding: 10px;
}

.follow {
    background-color: azure;
    display:flex;
    width: 24%;
    flex-direction: column;
    padding: 10px;
}

.checkbox {
    display: inline-flex;
    align-items: baseline;
    cursor: pointer;
}

.checkbox__input {
    display: none;
}

.checkbox__box {
    width: 1em;
    height: 1em;
    border: 2px solid darkred;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    flex-shrink: 0;
    transition: backround 0.15s, borer-color 0.15s;
}

.checkbox__box::after {
    content: '\2714';
    color: white;
    transform: scale(0);
    transition: transform 0.15s;
}

.checkbox__input:checked + .checkbox__box {
    background: orange;
    border-color: orange;
}

.checkbox__input:checked + .checkbox__box::after {
    transform: scale(1);
}

.post_one {
   display: flex;
    flex-direction:column;
    width: 38%;
    padding-right: 10px;
}

.item1b {
    background-color: azure;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    padding-top: 15%;
}

.item2b {
    padding: 10px;
}

.smoothies_blog img{
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    width: auto;
}

.follow_email {
    height: 50px;
    display: flex;
    align-items: flex-end;
}

.email_box {
    height: 26px;
    width: 70%;
    outline: none;
    background-color: white;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.email_bar {
    height: 30px;
    width: 90%;
    outline: none;
    border-radius: 10px;
    border: 1px solid lightblue;
    padding-left: 2px;
    font-size: 16px;
    border-bottom-width: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.email-btn {
    background-color: #6B0310;
    color: white;
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 10px;
}


.past_posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.middle_blog {
    display:flex;
    flex-direction: row;
    padding-top: 10px;
}

item3b{
    width: 50%;
    display: flex;
    flex-direction: row;
}

.item4b {
    width: 50%;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}

.blog_p {
    padding: 10px;
    height: 185px;
    overflow: hidden;
}

.blog_pic {
    padding: 10px;
}

.blog_pic img{
    padding: 10px;
    border-radius: 20px;
}

.contact_TOP {
    display: flex; 
    flex-direction: row;
}

.contact_top {
    display: flex;
    background-color: azure;
    flex-direction: column;
    width: 50%;
}

.left_contact {
    max-width: 90%;
    width: 100%;
    background: azure;
    padding: 25px 30px;
}

.left_contact .email_form {
   font-size: 25px;
   font-weight: 500; 
   position: relative;
}

.left_contact .email_form::before {
   content: '';
   position: absolute;
    left: 0;
    bottom: 0;
   height: 3px;
   width: 30px;
   background: orange; 
}

.left_contact form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    flex-direction: column;
}

from .user-details .small_box, textarea {
    margin-bottom: 20px;
    width: calc (100% / 2 - 20px);
}

.user-details .small_box input .details {
    display: block;
    font-weight: 500;
    margin-top: 5px;
}

.user-details .small_box input, textarea {
    height: 30px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: 1px solid lightblue;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .small_box input:focus,
.user-details .small_box input:valid {
    border-color: aqua; 
}

form .button_c input {
    /*height: 100%;*/
    width: 100%;
    outline: none;
    color: #6B0310;
    border: none;
    background: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
}

form .button_c input:hover {
   background: lightblue;
}

@media (max-width: 584px) {
    .container {
        max-width: 100%; 
    }
  from .user-details .small box {
    margin-bottom: 15px;
    width: 100%;
} 
}

textarea {
    width: 100%;
    height: 60px;
    position: relative; 
    font-family: sans-serif;
}

textarea::placeholder {
    font-family: sans-serif;
}

.small_box {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.large_box {
    padding: 10px;
    display: flex;
    flex-direction: column;
}



.contact_right {
    display: flex;
    flex-direction: column;
    background-color: azure;
    padding: 10px;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
}

.contact_info {
   display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}


.address {
    display: block;
    width: 50%;
}

.phone {
    display: block;
    width: 50%;
}

.map {
    border-radius: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
}

.map iframe {
    border-radius: 20px;
}

.map img {
     max-width: 100%;
     height: auto;
     width: auto;
     border-radius: 20px;
}

.FAQ {
    padding: 10px;
}

.question {
    padding: 5px;
    width: 75%;
}

.question p {
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.question a p {
    padding-left: 0px;
    background-color: white;
}

.contact_end {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-end;
}

.linkbox {
    display: flex;
    flex-direction: row;
}

.text_link {
    font-size: large;
    color: black;
    padding-left: 4px;
    padding-right: 4px;
}

.cart_top {
    display: flex;
    position: relative;
    height: 20px;
    width: 95%;
    background-color: orange;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    top: 15px;
}

.cart_top ul {
    list-style: none;
    position: relative;
    align-content: center;
    color: white;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.cart_top ul li {
    float: left;
    list-style: none;
    position: relative;
    margin: 15px;
}

.cart_middle {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}

.cart_item {
    padding-top: 10px;
    display: flex;
    align-items: center;
    width: 100%;
}

.cart_item2 {
    padding-top: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: azure;
}

.cart_img {
    padding: 0px;
    width: 40%;
}

.cart_img img {
    padding-right: 40px;
}

.cart_img a {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: #6B0310;
    width: 80%;
}

.cartlabel1 { 
    width: 27em;
    display: flex;
    justify-content: flex-start;
}

.cartlabel2 {
    width: 14em;
    display: flex;
    justify-content: center;
}

.price {
    width: 20%;
    display: flex;
    justify-content: center;
}

.total {
    width: 20%;
    display: flex;
    justify-content: center;
}

.qty {
    display: flex;
    align-items: center;
    width: 20%;
    flex-direction: column;
}

.quantity {
    display: flex;
    align-items: center;
    user-select: none;
}

.minus, .plus {
    width: 30px;
    height: 30px;
    background: orange;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.num {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 60px;
    margin: 0 10px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 20px;
    font-size: 12px;
    color: #6B0310;
    font-weight: bold;
}

.minus span {
    display: flex;
    width: 10px;
    height: 2px;
    background: #6B0310;
}

.plus span:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 10px;
    height: 2px;
    background: #6B0310;
}

.plus span:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 2px;
    height: 10px;
    background: #6B0310;
}

/*IDDDDDK*/

/*.counter_out {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    background: azure;  
}

.counter {
   height: 120px;
    min-width: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: orange;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.counter span {
    width: 100%;
    text-align: center;
    font-size: 55px;
    font-weight:600;
    cursor: pointer;
}

.counter span.num {
    font-size: 50px;
    border-right: 2px solid rgba(0,0,0,0.2);
    border-left: 2px solid rgba(0,0,0,0.2);
    pointer-events: none;
}*/

.cartbottom {
    display: flex;
    justify-content: flex-end;
}

.total_bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.signin_signup {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: azure;
}

.signin {
    width: 50%;
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
    flex-direction: column;
}

.signup {
    width: 50%;
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
}

.forgot {
    display:flex;
    padding: 10px;
    color: #6B0310;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.forgot a {
    color: #6B0310;
}

.v-red2 {
    margin-right: 10px;
    width: 100%;
    border-bottom: 5px solid; 
    color: #6B0310;
}

.footer {
    background-color: #FFA329;
    height: 100px;
    display: flex;
    position: relative;
    justify-content: center;
    color: white;
}

.footer p2{
    bottom: 0;
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-size: small;
    position:absolute;
    text-align: center;
}

.footer pre {
    font-family: 'Ubuntu', sans-serif;
    left: 0;
    position: absolute;
    left: 5px;
}
        
    

        
        
