@charset 'uft-8"'; 
/* CSS Document */
body {
   background-image: url(../Images/PJ-background.png);
   background-size: cover;
   font-family: Helvetica, Arial, sans-serif;
    margin: 0;
       
}

h1, h2, h3 {
    margin: 0;
    padding-top: 5px;
}

h1 {
   font-size: large; 
}

h2 {
    display: block;
    background-color: azure;
    text-align: left;
    border-radius: 20px;
    padding: 5px;
}

h3 {
    display: block;
    text-align: left;
    padding: 5px;
    font-size: x-large;
}

#container {
    width: 100%;
    background-color: white;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #FFA329;
    width: 100%;
    height: 155px;
    margin-left: 0;
    margin-right: 0;
}

.content {
    padding: 0;
}

.logo{
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    left: 50%;
    top: 5px;
}

.socials {
    display: flex;
    position: absolute;
    right: 0px;
    padding: 5px;
    color: white;
    top: 40px;
    align-items: center;
}

i {
    padding: 5px;
}

.nav {
    width: 100%;
    height: 150px;
    background-color: orange;
    line-height: 35px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.v-red {
    margin-right: 10px;
    width: 100%;
    border-bottom: 5px solid;
    position:absolute; 
    color: #6B0310;
}

.nav a {
    display: block;
    color: red;
    padding: 15px 15px;
    text-decoration: none;

}

.nav ul {
    list-style: none;
    position: relative;
    align-content: center;
    top: 50px;
}

.nav ul li {
    float: left;
    list-style: none;
    position: relative;
    border-color: white;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
    margin: 15px;
}

.nav ul li a {
    display: block;
    font-family: arial;
    color: white;
    font-size: 14px;
    padding: 0px 10px;
    text-decoration: none;
}

.nav ul li a:hover {
    display: block;
    font-family: arial;
    color: darkred;
    padding: 0px 10px;
}

.nav ul li ul {
    display: none;
    position: absolute;
    background-color: #FFA329;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
    z-index: 1;
}

.nav ul li:hover ul {
    display: block;
    position: absolute;
    background-color: white;
    width: 200px;
    padding: 10px;
    padding-right: 10px;
    border-radius: 0px 0px 4px 4px; 
}

.nav ul li ul li {
    padding: 8px 14px; 
}

.nav ul li ul li a {
    color: black; 
}

.nav ul li ul li a:hover {
    color: red;  
}


.slider_container {
    display: block;
    overflow: hidden;
    height: 300px;
}


/*.slide1 img, .slide2 img, .slide3 img {
    animation: slide1 12s linear infinite;
}


 img{
     width: 120%;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%,-50%);
}*/



.slide1 {
    flex: 70%;
    flex-wrap: wrap;
    display: flex;
    animation: slide1 12s linear infinite;
}

.slide2 {
    flex: 70%;
    flex-wrap: wrap;
    display: flex;
    animation: slide2 12s linear infinite;
    transform: translate(0%,-100%);
}

.slide3 {
    flex: 70%;
    flex-wrap: wrap;
    display: flex;
    animation: slide3 12s linear infinite;
    transform: translate(0%,-200%); 
}

@keyframes slide1{
    0% {
        visibility: visible
    }
    33% {
        visibility: hidden
    }
    66% {
        visibility: hidden
    }
    100% {
        visibility: visible
    }
}

@keyframes slide2{
    0% {
        visibility: hidden
    }
    33% {
        visibility: hidden
    }
    66% {
        visibility: visible
    }
    100% {
        visibility: hidden
    }
}

@keyframes slide3{
    0% {
        visibility: hidden
    }
    33% {
        visibility: hidden
    }
    66% {
        visibility: hidden
    }
    100% {
        visibility: visible
    }
}



.carousel-item {
position: absolute;
opacity: 0;
-webkit-transition: opacity 0.6s ease-out;
transition: opacity 0.6s ease-out;
}

.slider_container-open .slide1 {
position: static;
opacity: 100;
}

.slider_container-open .slide2 {
position: static;
opacity: 100;
}

.slider_container-open .slide3
{
position: static;
opacity: 100;
}

.carousel-control {
background: rgba(0, 0, 0, 0.28);
border-radius: 50%;
color: #fff;
cursor: pointer;
/*display: none;*/
font-size: 40px;
height: 40px;
line-height: 35px;
position: absolute;
top: 50%;
-webkit-transform: translate(0, -50%);
-ms-transform: translate(0, -50%);
transform: translate(0, -50%);
text-align: center;
width: 40px;
z-index: 10;
}

.carousel-control.prev {
left: 2%;
}

.carousel-control.next {
right: 2%;
}

.carousel-control:hover {
background: rgba(0, 0, 0, 0.8);
color: #aaaaaa;
}

#slide1:checked ~ .control-1,
#slide2:checked ~ .control-2,
#slide3:checked ~ .control-3 {
display: block;
}

.carousel-indicators {
list-style: none;
margin: 0;
padding: 0;
position: absolute;
top: 70%;
left: 0;
right: 0;
text-align: center;
z-index: 10;
}

.carousel-indicators li {
display: inline-block;
margin: 0 5px;
}

.carousel-bullet {
color: #fff;
cursor: pointer;
display: block;
font-size: 35px;
}

.carousel-bullet:hover {
color: #aaaaaa;
}

#slide1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#slide2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#slide3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
color: #428bca;
}









/*.slider-button {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: white;
    align-content: center;
}*/

.flex-container {
    display: flex;
    background-color: white; 
    justify-content: center;
    clear: both;
}

.flex-container > div {
    /*text-align: center;
    line-height: 20px; */
    background-color: white;
    color: black;
    margin: 10px;
}

.item1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item3{
   float: right;
    flex-direction: column;
    width: 50%;
    align-items: center;
    display: flex;
}

.item4 {
    float: right;
    padding: 10px;
}

.button {
    float: left;
    list-style: none;
    position: relative;
    border-color: #6B0310;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
    margin: 15px;
    padding: 3px;
    color: #6B0310;
}


.button_p {
    list-style: none;
    border-color: #6B0310;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
    margin: auto;
    margin-top:10px;
    padding: 3px;
    width: 50%;
}

.button_index {
    float: left;
    list-style: none;
    position: relative;
    border-color: #6B0310;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
    margin: 15px;
    padding: 3px;
    color: #6B0310;
}

.button_b {
    float: left;
    list-style: none;
    position: relative;
    border-color: #6B0310;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
    margin: 15px;
    padding: 3px;
    color: #6B0310;
    width: fit-content;
}

.button_c {
    float: right;
    list-style: none;
    position: relative;
    border-color: #6B0310;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
    margin: 15px;
    padding: 3px;
    color: #6B0310;
}


.flex-container1 {
    display: flex;
    background-color: white; 
    justify-content: left;
    clear: both;
    padding-top: 10px;
}

.flex-container1 > div {
    background-color: white;
    color: black;
    margin: 10px;
    text-align: left;
    line-height: 20px;
}

.flex-container2 {
    display: flex;
    background-color: azure; 
    justify-content: left;
    clear: both;
    flex-direction: row-reverse;
}

.flex-container2 > div {
    background-color: azure;
    color: black;
    margin: 10px;
    text-align: left;
    line-height: 20px;
}

.flex-container3 {
    display: flex;
    background-color: white; 
    justify-content: left;
    clear: both;
}

.flex-container3 > div {
    background-color: white;
    color: black;
    margin: 10px;
    text-align: left;
    line-height: 20px;
}

.left {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.right {
    flex-direction: row;
    display: flex;
    width: 50%;
    justify-content: center;
}

.blue_square {
    background-color: azure;
    text-align: left;
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
}


.h {
    left: 50%;
    height: initial;
    border-left: 5px solid orange;  
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.h_about {
    left: 50%;
    height: initial;
    margin-top: 150px;
    border-left: 5px solid orange;  
    border-radius: 3px;
}

.v {
    margin-left: 10px;
    margin-right: 10px;
    width: 98%;
    border-bottom: 5px solid orange;
    position:absolute;
    border-radius: 3px;
}

.cran-apple {
    padding: 5px;
    position: relative;
    background-color: azure;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin: 15px;
    border-radius: 20px;
}

.fruit_punch {
    padding: 5px;
    position: relative;
    background-color: azure;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin: 15px;
    border-radius: 20px;
}

.watermelon {
    position: relative;
    display: flex;
    background-color: azure;
}

.about_p {
    width: 560px;
    
}

.orange {
    width: 50%;
    height: auto;
    position:relative;
    clear: both;
    float:left;
}

.class {
    width: 50%;
    height: auto;
    position:relative;
    clear:both;
    float:right;
}

.tape {
    width: 50%;
    height: auto;
    position:relative;
    clear:both;
    float: left;
    border-radius: 4px;
}

.boutpic img{
    border-radius: 20px;
}

.bottles {
    display:flex;
    justify-content: center;
    clear:both;
    padding: 5px;
    flex-wrap: wrap;
}

.text {
    background-color: azure;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin: 15px;
    border-radius: 20px;
}

.text a {
    color: black; 
    text-decoration: none;
    border-radius: 20px;
}

.text a img {
    border-radius: 20px;
}

.top {
    height: 50px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.searchbox {
   border-radius: 20px;
    padding: 5px;
    display: flex;
    float: right;
    border: darkred;
    border-style: solid;
    margin-top: 10px;
}

.search-btn {
    color: orange;
    display: flex;
    width: 20px;
    height: 20px;
    float: right;
    justify-content: center;
    align-items: center;
}

.search-txt {
    background-color: white;
    border: none;
}

.magnify {
    color: darkred !important;
}

.largepic {
    display: flex;
    padding: 10px;
    height: 400px;
}

.item1a {
    object-fit: contain
}

.item2a {
    padding: 10px;
}

.button_apple {
    border-color: #6B0310;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
    padding: 3px;
    width: fit-content;
}

.end_P {
    text-align: center;
    font-size: medium;
    color: #6B0310;
}

.blog_top {
    display: flex;
    flex-direction: row;
    background-color: azure;
    padding-top: 10px;
}

.weekpost{
    background-color: azure;
    display: flex;
    width: 38%;
    flex-direction: column;
    padding: 10px;
}

.follow {
    background-color: azure;
    display:flex;
    width: 24%;
    flex-direction: column;
    padding: 10px;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

checkbox_box {
    
}

.checkbox_input {
    display: none;
}

.item1b {
    background-color: azure;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 38%;
    padding-top: 5%;
}

.item2b {
    padding: 10px;
}

.smoothies_blog img{
    border-radius: 20px;
}

.past_posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.middle_blog {
    display:flex;
    flex-direction: row;
    padding-top: 10px;
}

item3b{
    width: 50%;
    display: flex;
    flex-direction: row;
}

.item4b {
    width: 50%;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}

.blog_p {
    padding: 10px;
    height: 185px;
    overflow: hidden;
}

.blog_pic {
    padding: 10px;
}

.blog_pic img{
    padding: 10px;
    border-radius: 20px;
}

.contact_TOP {
    display: flex; 
    flex-direction: row;
}

.contact_top {
    display: flex;
    background-color: azure;
    flex-direction: column;
    width: 50%;
}

.left_contact {
    max-width: 500px;
    width: 100%;
    background: azure;
    padding: 25px 30px;
}

.left_contact .email_form {
   font-size: 25px;
   font-weight: 500; 
   position: relative;
}

.left_contact .email_form::before {
   content: '';
   position: absolute;
    left: 0;
    bottom: 0;
   height: 3px;
   width: 30px;
   background: orange; 
}

.left_contact form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    flex-direction: column;
}

from .user-details .small box {
    margin-bottom: 15px;
    width: calc (100% / 2 - 20px);
}

.user-details .input-box input .details {
   display: block;
    font-weight: 500;
    margin-top: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: aqua; 
}

form .button_c input {
    height: 100%;
    width: 100%;
    outline: none;
    color: black;
    border: none;
    background: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
}

form .button_c input:hover {
   background: blue;
}

@media (max-width: 584px) {
    .container {
        max-width: 100%; 
    }
  from .user-details .small box {
    margin-bottom: 15px;
    width: 100%;
}  
    
}

.small_box {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.large_box {
    
}

.contact_right {
    display: flex;
    flex-direction: column;
    background-color: azure;
    padding: 10px;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
}

.contact_info {
   display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}


.address {
    display: block;
    width: 50%;
}

.phone {
    display: block;
    width: 50%;
}

.map {
    border-radius: 20px;
}

.FAQ {
    padding: 10px;
}

.question {
    padding: 5px;
}

.question p {
    padding-left: 15px;
}

.question a p {
    padding-left: 0px;
    background-color: white;
}

.contact_end {
    justify-content: right;
}

.v-red2 {
    margin-right: 10px;
    width: 100%;
    border-bottom: 5px solid; 
    color: #6B0310;
}

.footer {
    background-color: #FFA329;
    height: 100px;
    display: flex;
    position: relative;
    justify-content: center;
    color: white;
}

.footer p2{
    bottom: 0;
    display: block;
    font-family: sans-serif;
    font-size: small;
    position:absolute;
    text-align: center;
}

.footer pre {
    font-family: sans-serif;
    left: 0;
    position: absolute;
    left: 5px;
}
        
    

        
        
